flake8==3.3.0
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.7.1
gunicorn_thrift==0.2.18
mccabe==0.2.1
pep8==1.7.0
py==1.4.33
pyflakes==1.5.0
pytest==3.0.7
setproctitle==1.1.10
thrift==0.10.0
thriftpy2==0.4.0
tornado==4.4.3
toro==1.0.1
